body{
    font-size: 14px;
    }
    h1,h2,h3,h4,h5,h6{
      margin: 0px;padding: 0px;font-weight: normal;
    }
    .fixed{position: fixed;}
    .rel{position: relative;}
    .abs{position: absolute;}
    .sticky{position: sticky;}

    .flex{display: flex;}
    .flex-col{flex-direction: column;}
    .aic{align-items: center;}
    .bl{display: block;}
    .ibl{display: inline-block;}

    .centre{text-align: center;}

    .image{width: 100%;}

    .p10{padding: 10px;}

    .font{
        font-family: 'Open Sans', sans-serif;
        font-weight: normal;
    }
    .fontl{
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
    }
    .fontb{
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
    }
    .b{font-weight: bold;}

    .s12{font-size: 12px;}
    .s13{font-size: 13px;}
    .s14{font-size: 14px;}
    .s15{font-size: 15px;}
    .s16{font-size: 16px;}
    .s17{font-size: 17px;}
    .s18{font-size: 18px;}
    .s19{font-size: 19px;}
    .s20{font-size: 20px;}
    .s22{font-size: 22px;}
    .s24{font-size: 24px;}
    .s25{font-size: 25px;}
    .s30{font-size: 30px;}

    .noul{text-decoration: none;}
    .noulh:hover{text-decoration: underline;}

    .m3{margin-top: 3px;}
    .m5{margin-top: 5px;}
    .m7{margin-top: 7px;}
    .m9{margin-top: 9px;}
    .m11{margin-top: 11px;}

    .mb10{margin-bottom: 10px;}

    .p5{padding: 5px 5px 5px 5px;}

    .cG{color: rgb(184, 182, 182)}
    .cB{color: rgb(117, 116, 116)}




    